# Configuration Telegram
# Version 3.0
# A placer dans : /etc/telegram/notif_connexion/telegram.config

# Tokens et identifiants
TELEGRAM_BOT_TOKEN="1234567890:ABCDEFGHIJKLMNOpqrstuvwxYZ1234567890"
TELEGRAM_CHAT_ID="-987654321"

# Chemins des dossiers et fichiers
BASE_DIR="/usr/local/bin/telegram/notif_connexion"
CONFIG_DIR="/etc/telegram/notif_connexion"
SCRIPT_PATH="$BASE_DIR/telegram.sh"
CONFIG_PATH="$CONFIG_DIR/telegram.config"
